[submodule ".dependencies/.github"]
	path = .dependencies/.github
	url = git@github.com:lammpstutorials/.github.git
[submodule ".dependencies/pyplot-perso"]
	path = .dependencies/pyplot-perso
	url = git@github.com:simongravelle/pyplot-perso.git
	branch = LAMMPS-livecom
[submodule ".dependencies/lammpstutorials-inputs"]
	path = .dependencies/lammpstutorials-inputs
	url = git@github.com:lammpstutorials/lammpstutorials-inputs.git
	branch = restructure
