[submodule "docs/lammpstutorials-inputs"]
	path = docs/lammpstutorials-inputs
	url = git@github.com:lammpstutorials/lammpstutorials-inputs.git
[submodule "docs/sphinx/source/tutorials/figures/pyplot-perso"]
	path = docs/sphinx/source/tutorials/figures/pyplot-perso
	url = git@github.com:simongravelle/pyplot-perso.git
