# code
.vscode
.venv/

# LAMMPS files
**/log.lammps
**/.ipynb_checkpoints
**/*.lammpstrj
**/*.xtc
**/_*
inputs/freeenergy/BiasedSampling/wham-release-2.0.11
docs/sphinx/build

# upload vmd dump
!docs/inputs/miscellaneous/vmd/dump.lammpstrj

# latex
ebook/**/*.aux
ebook/**/*.log
ebook/*.out
ebook/*.pdf
ebook/*.toc
ebook/*.lof
ebook/*.lot

ebook/tutorials/*
