# code
.vscode
.venv/

# ignore some LAMMPS files
**/log.lammps
**/.ipynb_checkpoints
**/*.lammpstrj
**/*.xtc
**/_*
inputs/freeenergy/BiasedSampling/wham-release-2.0.11
docs/sphinx/build

# force the upload of certain dump files
!docs/inputs/vmd/dump.lammpstrj
!docs/inputs/level1/breaking-a-carbon-nanotube/breakable-bonds/dump.lammpstrj

# latex
ebook/**/*.aux
ebook/**/*.log
ebook/*.out
ebook/*.pdf
ebook/*.toc
ebook/*.lof
ebook/*.lot

ebook/tutorials/*
ebook/non-tutorials/*
