# code
.vscode
.venv/

# ignore some LAMMPS files
**/log.lammps
**/.ipynb_checkpoints
**/*.lammpstrj
**/*.xtc
**/_*
inputs/freeenergy/BiasedSampling/wham-release-2.0.11
docs/sphinx/build

# latex
ebook/**/*.aux
ebook/**/*.log
ebook/*.out
ebook/*.pdf
ebook/*.toc
ebook/*.lof
ebook/*.lot

ebook/tutorials/*
ebook/non-tutorials/*

**/untitled.*.ppm
**/untitled.*.ppn