.hatnote
{
    color: #858585d2;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 20px;
    font-weight: 50;
}

.version
{
    color: #858585d2;
}

.justify
{
    text-align: justify;
}

.figurelegend
{
    text-align: justify;
}

.abstract
{
    text-align: abstract;
}

.admonition {
  font-size: 13pt;
  border-color: #2963ff;
  text-align: justify;
}

:root { /*https://fontawesomeicons.com/svg/icons/info*/
  --icon--info: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"> <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/> </svg>')
}

.admonition.info > .admonition-title {
  background-color: #2962ff10;
  border-color: #2963ff;
  font-size: 13pt;
}
.admonition.info > .admonition-title::before {
  background-color: #2963ff;
  -webkit-mask-image: var(--icon--info);
          mask-image: var(--icon--info);
}

/* New non-title information admonition */
.admonition.non-title-info > .admonition-title {
    display: none;  /* Hide the title */
  }
  
  .admonition.non-title-info {
    background-color: #2962ff10;
    border-color: #2963ff;
    font-size: 13pt;
  }
  
  .admonition.non-title-info > .admonition-content {
    color: #4b2d83;  /* Purple text color for contrast */
  }
  
  .admonition.non-title-info > .admonition-title::before {
    content: '';  /* No icon needed, as there's no title */
  }

:root { /*https://fontawesomeicons.com/svg/icons/info*/
  --icon--patreon: url('data:image/svg+xml;charset=utf-8,   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <g> <path fill="none" d="M0 0h24v24H0z"/> <path d="M15 17a7.5 7.5 0 1 1 0-15 7.5 7.5 0 0 1 0 15zM2 2h4v20H2V2z"/> </g> </svg>')
}
.admonition.patreon > .admonition-title {
  background-color: #2962ff10;
  border-color: #2963ff;
  font-size: 13pt;
}
.admonition.patreon > .admonition-title::before {
  background-color: #2963ff;
  -webkit-mask-image: var(--icon--patreon);
          mask-image: var(--icon--patreon);
}

.admonition.patreon-red > .admonition-title {
    background-color: #2962ff10;
    border-color: #FF424D;
    font-size: 13pt;
  }
  .admonition.patreon-red > .admonition-title::before {
    background-color: #FF424D;
    -webkit-mask-image: var(--icon--patreon);
            mask-image: var(--icon--patreon);
  }

:root { /*https://fontawesomeicons.com/svg/icons/info*/
    --icon--dropdown: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H53.4a7.9,7.9,0,0,0,7.2-4.6,48.1,48.1,0,0,1,86.8,0,7.9,7.9,0,0,0,7.2,4.6H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40ZM104,168a32,32,0,1,1,32-32A32.1,32.1,0,0,1,104,168Zm112,32H159.4a63.7,63.7,0,0,0-13.1-16H192a8,8,0,0,0,8-8V80a8,8,0,0,0-8-8H64a8,8,0,0,0-8,8v96a8,8,0,0,0,6,7.7A64.2,64.2,0,0,0,48.6,200H40V56H216Z"/></svg>')
  }
  .admonition.dropdown > .admonition-title {
    background-color: #2962ff10;
    border-color: #2963ff;
    font-size: 13pt;
  }
  .admonition.dropdown > .admonition-title::before {
    background-color: #2963ff;
    -webkit-mask-image: var(--icon--dropdown);
            mask-image: var(--icon--dropdown);
  }

:root { /*https://fontawesomeicons.com/svg/icons/info*/
  --icon--mail: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-at" viewBox="0 0 16 16"> <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"/> </svg>')
}
.admonition.mail > .admonition-title {
  background-color: #2962ff10;
  border-color: #2963ff;
  font-size: 13pt;
}
.admonition.mail > .admonition-title::before {
  background-color: #2963ff;
  -webkit-mask-image: var(--icon--mail);
          mask-image: var(--icon--mail);
}

:root { /*https://fontawesomeicons.com/svg/icons/info*/
  --icon--solution: url('data:image/svg+xml;charset=utf-8,   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 16 16"> <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z"/> </svg>')
}
.admonition.solution > .admonition-title {
  background-color: #2962ff10;
  border-color: #2963ff;
  font-size: 13pt;
}
.admonition.solution > .admonition-title::before {
  background-color: #2963ff;
  -webkit-mask-image: var(--icon--solution);
          mask-image: var(--icon--solution);
}

a:link { 
    text-decoration: none; 
} 
a:visited { 
    color: {{ theme_link }};
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}

section {
  text-align: justify;
}



  