body, html {
  height: 100%;
}

body {
  background: #dddddd;
  color: #4c4d4d;
}

img {
  vertical-align: inherit;
}

a, a:focus {
  color: #222222;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: bold;
}

a:hover, a:active {
  color: #777777;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: bold;
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 18px;
  color: #222222;
}

a:focus, a:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, button:focus, button:active {
  outline: none;
}

p {
  font-size: 18px;
  color: #222222;
  margin-top: -5px;
}

blockquote {
  border-left: 1px solid #777777;
  border-bottom: 1px solid #777777;
  border-top: 1px solid #777777;
  border-right: 1px solid #777777;
  padding: 10px 20px;
  color: #222222;
  margin-bottom: 1rem;
}

code {
  background-color: #e9e9e9;
  border-radius: 5px;
  border: None;
  display: block;
}

pre {
  margin-top: -5px;
  margin-bottom: 1rem;
}

#boxtype1 {
  background-color: #ccffcc;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid;
  /*color: rgb(75, 75, 75);*/
  border-color: #b3dfb3;
}

#boxtype2 {
  background-color: rgb(220, 255, 253);
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid;
  /*color: rgb(75, 75, 75);*/
  border-color: rgb(196, 228, 226);
}

section {
  margin-bottom: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #252b33;
  font-family: Calibri, sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.6rem;
  color: #252b33;
}

h3 {
  font-size: 1.5rem;
  color: #777777;
}

dl, ol, ul .table {
  margin-bottom: 1rem;
}

.hljs {
  padding: 1.5rem;
}

.text-2 {
  font-size: 18px !important;
  font-size: 0.875rem !important;
}

#main-wrapper {
  background: #fff;
}

@media (min-width: 1200px) {
  .container {
      max-width: 1170px !important;
  }
}

.idocs-navigation {
  position: fixed;
  top: 70px;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  width: 260px;
  height: calc(100% - 70px);
  z-index: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
}

.idocs-navigation > .nav {
  padding: 30px 0;
}

.idocs-navigation .nav .nav-item {
  position: relative;
}

.idocs-navigation .nav .nav-link {
  position: relative;
  padding: 6px 30px;
  line-height: 25px;
  font-weight: 600;
  font-size: 20px;
}

.idocs-navigation .nav .nav-item:hover > .nav-link, .idocs-navigation .nav .nav-item .nav-link.active {
  font-weight: 700;
}

.idocs-navigation > .nav > .nav-item > .nav-link.active:after {
  position: absolute;
  content: " ";
  top: 50%;
  right: 18px;
  border-color: #000;
  border-top: 2px solid;
  border-right: 2px solid;
  width: 7px;
  height: 7px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.idocs-content {
  position: relative;
  margin-left: 260px;
  padding: 0px 50px 50px;
  min-height: 750px;
  transition: all 0.3s;
}

.idocs-content section:first-child {
  padding-top: 3rem;
}

.idocs-content ol li, .idocs-content ul li {
  margin-top: 10px;
}

#header {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header .navbar {
  padding: 0px;
  min-height: 70px;
}

#header .logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.primary-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: auto !important;
  -webkit-box-ordinal-group: 0;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background: #fff;
  border-bottom: 1px solid #efefef;
}

.primary-menu ul.navbar-nav > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.primary-menu ul.navbar-nav > li + li {
  margin-left: 2px;
}

.primary-menu ul.navbar-nav > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.primary-menu ul.navbar-nav > li > a:not(.btn) {
  height: 70px;
  padding: 0px 0.85em;
  color: #252b33;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  position: relative;
}

.primary-menu ul.navbar-nav > li:hover > a:not(.btn), .primary-menu ul.navbar-nav > li > a.active:not(.btn) {
  color: #0366d6;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav .nav-item .nav-link {
  color: #222222;
}

.nav:not(.nav-pills) .nav-item .nav-link.active, .nav:not(.nav-pills) .nav-item .nav-link:hover {
  color: #0366d6;
}

#footer {
  background: #fff;
  color: #252b33;
  margin-left: 260px;
  padding: 66px 0px;
  padding: 4.125rem 0;
}

.social-icons {
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.social-icons li {
  margin: 0px 6px;
  padding: 0;
  overflow: visible;
}

.social-icons li a {
  display: block;
  height: 26px;
  line-height: 26px;
  width: 26px;
  font-size: 18px;
  text-align: center;
  color: #4d555a;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.social-icons li i {
  line-height: inherit;
}

.social-icons.social-icons-sm li {
  margin: 0px 4px;
}

.social-icons.social-icons-sm li a {
  font-size: 15px;
  width: 22px;
}