        $/angle:mol1/a1      @/angle:GROMOS_54A7_ATB/g12    $/atom:mol1/H6     $/atom:mol1/O1     $/atom:mol1/C1     
        $/angle:mol1/a2      @/angle:GROMOS_54A7_ATB/g15    $/atom:mol1/O1     $/atom:mol1/C1     $/atom:mol1/H1     
        $/angle:mol1/a3      @/angle:GROMOS_54A7_ATB/g15    $/atom:mol1/O1     $/atom:mol1/C1     $/atom:mol1/H2     
        $/angle:mol1/a4      @/angle:GROMOS_54A7_ATB/g13    $/atom:mol1/O1     $/atom:mol1/C1     $/atom:mol1/C2     
        $/angle:mol1/a5      @/angle:GROMOS_54A7_ATB/g43    $/atom:mol1/H1     $/atom:mol1/C1     $/atom:mol1/H2     
        $/angle:mol1/a6      @/angle:GROMOS_54A7_ATB/g51    $/atom:mol1/H1     $/atom:mol1/C1     $/atom:mol1/C2     
        $/angle:mol1/a7      @/angle:GROMOS_54A7_ATB/g51    $/atom:mol1/H2     $/atom:mol1/C1     $/atom:mol1/C2     
        $/angle:mol1/a8      @/angle:GROMOS_54A7_ATB/g51    $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H3     
        $/angle:mol1/a9      @/angle:GROMOS_54A7_ATB/g51    $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H4     
        $/angle:mol1/a10     @/angle:GROMOS_54A7_ATB/g51    $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H5     
        $/angle:mol1/a11     @/angle:GROMOS_54A7_ATB/g47    $/atom:mol1/H3     $/atom:mol1/C2     $/atom:mol1/H4     
        $/angle:mol1/a12     @/angle:GROMOS_54A7_ATB/g47    $/atom:mol1/H3     $/atom:mol1/C2     $/atom:mol1/H5     
        $/angle:mol1/a13     @/angle:GROMOS_54A7_ATB/g47    $/atom:mol1/H4     $/atom:mol1/C2     $/atom:mol1/H5     
