        $/dihedral:mol1/d1      @/dihedral:GROMOS_54A7_ATB/glj14  $/atom:mol1/H6     $/atom:mol1/O1     $/atom:mol1/C1     $/atom:mol1/H1     
        $/dihedral:mol1/d2      @/dihedral:GROMOS_54A7_ATB/glj14  $/atom:mol1/H6     $/atom:mol1/O1     $/atom:mol1/C1     $/atom:mol1/H2     
        $/dihedral:mol1/d3      @/dihedral:GROMOS_54A7_ATB/g23    $/atom:mol1/H6     $/atom:mol1/O1     $/atom:mol1/C1     $/atom:mol1/C2     
        $/dihedral:mol1/d4      @/dihedral:GROMOS_54A7_ATB/g34    $/atom:mol1/O1     $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H3     
        $/dihedral:mol1/d5      @/dihedral:GROMOS_54A7_ATB/glj14  $/atom:mol1/O1     $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H4     
        $/dihedral:mol1/d6      @/dihedral:GROMOS_54A7_ATB/glj14  $/atom:mol1/O1     $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H5     
        $/dihedral:mol1/d7      @/dihedral:GROMOS_54A7_ATB/glj14  $/atom:mol1/H1     $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H3     
        $/dihedral:mol1/d8      @/dihedral:GROMOS_54A7_ATB/glj14  $/atom:mol1/H1     $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H4     
        $/dihedral:mol1/d9      @/dihedral:GROMOS_54A7_ATB/glj14  $/atom:mol1/H1     $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H5     
        $/dihedral:mol1/d10     @/dihedral:GROMOS_54A7_ATB/glj14  $/atom:mol1/H2     $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H3     
        $/dihedral:mol1/d11     @/dihedral:GROMOS_54A7_ATB/glj14  $/atom:mol1/H2     $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H4     
        $/dihedral:mol1/d12     @/dihedral:GROMOS_54A7_ATB/glj14  $/atom:mol1/H2     $/atom:mol1/C1     $/atom:mol1/C2     $/atom:mol1/H5     
