        $/bond:mol1/b1      @/bond:GROMOS_54A7_ATB/g60    $/atom:mol1/H6     $/atom:mol1/O1     
        $/bond:mol1/b2      @/bond:GROMOS_54A7_ATB/g18    $/atom:mol1/O1     $/atom:mol1/C1     
        $/bond:mol1/b3      @/bond:GROMOS_54A7_ATB/g39    $/atom:mol1/C1     $/atom:mol1/H1     
        $/bond:mol1/b4      @/bond:GROMOS_54A7_ATB/g39    $/atom:mol1/C1     $/atom:mol1/H2     
        $/bond:mol1/b5      @/bond:GROMOS_54A7_ATB/g26    $/atom:mol1/C1     $/atom:mol1/C2     
        $/bond:mol1/b6      @/bond:GROMOS_54A7_ATB/g3     $/atom:mol1/C2     $/atom:mol1/H3     
        $/bond:mol1/b7      @/bond:GROMOS_54A7_ATB/g3     $/atom:mol1/C2     $/atom:mol1/H4     
        $/bond:mol1/b8      @/bond:GROMOS_54A7_ATB/g3     $/atom:mol1/C2     $/atom:mol1/H5     
