# code
.vscode
.venv/

# ignore some LAMMPS files
**/log.lammps
**/.ipynb_checkpoints
**/*.lammpstrj
**/*.xtc
**/_*
inputs/freeenergy/BiasedSampling/wham-release-2.0.11
docs/sphinx/build

# force the upload of certain dump and log files
!vmd/dump.lammpstrj
!level1/lennard-jones-fluid/my-first-input/log.lammps
!level1/breaking-a-carbon-nanotube/breakable-bonds/dump.lammpstrj
!level1/breaking-a-carbon-nanotube/breakable-bonds/log.lammps
!level1/breaking-a-carbon-nanotube/unbreakable-bonds/log.lammp
!level2/polymer-in-water/mergePEGH2O/dump.lammpstrj
!level2/nanosheared-electrolyte/minimization/log.lammps
!level3/reactive-silicon-dioxide/RelaxSilica/log.lammps
!level3/reactive-silicon-dioxide/RelaxSilica/dump.lammpstrj
!level3/reactive-silicon-dioxide/Deform/dump.lammpstrj
!level3/reactive-silicon-dioxide/Deform/log.lammps

**/untitled.*.ppm
